.customer-cart {
  display: flex;
  flex-direction: column;
  padding: 5px 15px 30px 15px;
  align-items: center;
  .cart-heading {
    align-self: center;
  }
  .empty-cart-heading {
    font-family: Roboto;
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--grey);
    text-align: center;
  }
  .cart-note {
    display: none;
  }
  .cart-items {
    display: flex;
    flex-direction: column;
    .cart-item {
      display: flex;
      flex-direction: column;
      font-family: Roboto;
      font-size: 18px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: var(--black);
      text-align: center;
      margin-bottom: 10px;

      .product-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
          max-width: 100%;
          min-width: 200px;
          height: 200px;
        }
        .product-brand-name {
          text-decoration: none;
          color: black;
        }
      }
      .product-quantity {
        display: flex;
        justify-content: space-around;
        margin-top: 25px;
        .product-delete-btn {
          border-radius: 50%;
          background-color: var(--dusty-orange);
          color: white;
          font-size: 12px;
          font-weight: bold;
          width: 25px;
          height: 25px;
          text-align: center;
          align-self: center;
        }
        .counter {
          margin: 5px;
        }
        .product-price {
          align-self: center;
        }
      }
    }
    .empty-cart {
    align-self: center;
    margin-top: 15px;
    width: 60vw;
    height: 7vw;
    background: white;
    text-align: center;
    border: 1px solid var(--boring-green);
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--boring-green);
    }
  }
  .promotional-code {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;

    .promo-header {
      font-family: Roboto;
      font-size: 18px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: var(--warm-grey);
      align-self: flex-start;
    }

    .promo-span {
      width: 100%;
    }
    .promo-input {
      padding: 10px;
      font-family: Roboto;
      font-size: 18px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: var(--silver);
    }

    .promo-button {
      background: transparent;
      font-family: Roboto;
      font-size: 14px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: var(--grey);
    }

    span {
      display: flex;
      input {
        flex-basis: 85%;
      }
      button {
        flex-basis: 15%;
      }
    }
  }
  .cart-checkout {
    display: flex;
    flex-direction: column;
    .checkout-cost {
      align-self: flex-end;
      font-family: Roboto;
      font-size: 18px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: var(--brownish-grey);
    }
    .checkout-btn {
      width: 70vw;
      height: 15vw;
      background-color: var(--dusty-orange);
      color: white;
      font-family: roboto;
      font-size: 24px;
      font-weight: bold;
    }
  }
}

@media screen and (min-width: 650px) {
  .customer-cart {
    display: flex;
    flex-direction: column;
    .cart-heading {
      align-self: flex-start;
      margin: 5px 2px 2px 0;
    }
    .cart-note {
      display: block;
      align-self: flex-start;
      margin: 10px 2px 2px 0;
    }
    .cart-items {
      .cart-item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .product-info {
          display: flex;
          flex-direction: row;
          img {
            height: 200px;
          }
        }
        .product-quantity {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
    }
  }
  .promotional-code {
    align-self: flex-end;
  }
  .cart-checkout {
    align-self: flex-end;
  }
}