.SplashImageCard{
    padding-bottom: 44vw;
    
    img{
        width: 100vw;
    }

    div{
        background-color: rgba(139,142,139, .5);
        width: 70vw;
        height:24vw;
        margin: -34vw auto;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        h3{
            width: 174px;
            height: 28px;
            font-family: Roboto;
            font-size: 24px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: var(--white);
            text-transform: uppercase;
        }
        
    }
    
}