.nav-bar{
    background-color: var(--boring-green);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 10px;
    align-items: center;

    @media screen and (min-width:1000px){
      height: auto;
    }

    .logo{
      width: 50vw;
      display: flex;
      justify-content: center;

      img{
        width:40vw;
      }
      @media screen and (min-width:1000px){
        width: 33vw;
        order: -2;
        justify-content: flex-start;


        img{
          width: 10vw;
          margin-left: 5vw;
        }
      }

    }
    .nav-icons{
     display: flex;
     @media screen and (min-width:1000px){
      justify-content: flex-end;
      width: 33vw;
      flex-direction: row;
     }
      img{
        margin: 1vw;
        width:8vw;
     
        @media screen and (min-width:1000px){
          width: 3vw;
        }
      }

      span{
        font-family: Roboto;
        font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: var(--white);
        padding-bottom: .5em;        
        align-self: center;
        @media screen and (min-width:1000px){
         padding: 20 0px;
        }
      }
    }
    .burger{ 
      width:8vw;
      margin: 1vw;
      @media screen and (min-width: 1000px){
       position: absolute;
       top: 0em;
       left: 0em;
      }
    }

    .search{
      width: 90vw;
      background-color: white;
      margin: 5vw;
      display: flex;
      align-content: stretch;

      @media screen and (min-width:1000px){
        width: 34vw;
        margin: 0;
        order: -1;
      }

      input{ //text style 7 I believe
        width: 80vw;
        font-size: 14px;
        font-weight: 500;
        color: var(--silver);
        border: none;
        padding: 0 1em;
       }
       
       img{
        width: 10vw;
       }
       @media screen and (min-width: 1000px){
        width: 30vw;
        img{
         width: 3vw;
        }
       }
    }
}
