
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import 'mixins';

:root {
 --boring-green: #5fb069;
 --white: #ffffff;
 --black: #000000;
 --grey: #8b8e8b;
 --brownish-grey: #656565;
 --warm-grey: #9b9595;
 --silver: #c5cbc4;
 --dark-sage: #507c50;
 --dusty-orange: #f58136;
 --pinkish-grey: #c4c4c4;
 --dodger-blue: #4185f4;
 --french-blue: #4367b1;
 --boring-green-22: rgba(95, 176, 108, 0.22);
 --reddish-grey: #787070;
 --warm-grey-two: #938e8e;
 --brown-grey: #787a64;
 --brown-grey-two: #9a966d;
 --moss-green: #6b9534;
 --charcoal: #3c3d3c;
 --dull-green: #5fa062;
 --boring-green-two: #5fb06c;
 --pinkish-grey-two: #c3c1c1;

}

html {
 box-sizing: border-box;
 *, *:before, *:after {
  box-sizing: inherit;
 }
}


.login-form {
 button {
  @include Text-Style-32;
 }
}