.add-product-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  input {
    margin: 10px;
    padding: 10px;
    border-radius: 4px;
    width: 40%;
  }

  .submit-button {
    width: 20%;
    border-radius: 4px;
    background-color: green;
    color: white;
    padding: 15px 10px;
    font-size: 25px;
  }
}
