.info-list {
  list-style: none;
}

.info-line {
  margin: 15px;
}

.info-field {
  padding: 5px;
  border-radius: 4px;
  width: 100%;
}

.save {
  padding: 10px;
  background-color: green;
  border-radius: 4px;
  font-size: 20px;
  color: white;
}

.image-form {
  // display: flex;
  // flex-direction: column;
  input, button {
    height: 24px;
  }
}