.product-card {
  margin: 20px;
  width: 143px;

  .card {
    text-decoration: none;
    

    .container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;
    }
  }


.product-card-name {
  text-decoration: none;
  margin: 10px 0 40px 0;
  font-size: 20px;
}

.product-card-image {
  width: 143px;
  height: auto;
}

.brand {
  //text-style15
  font-family: Roboto;
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--black);
}

.product {
 font-family: Roboto;
 font-weight: medium;
 font-size: 11px;
 color: var(--black);
}

.misc {
  font-family: Roboto;
  font-weight: medium;
  font-size: 8px;
  color: var(--black);
}

.price-size {
  font-family: Roboto;
  font-weight: bold;
  font-size: 12px;
  color: var(--black);
}

.unit-price {
  &:before {
    content: ' $'
  }
  font-family: Roboto;
  font-weight: medium;
  font-size: 10px;
  color: var(--grey);
}
}