.home-body {

display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
margin: 15px 0 30px 0;

.view-all {
  width: 356px;
  height: 51px;
  background-color: var(--boring-green);
  color: white;
  font-family: roboto;
  font-size: 18px;
  font-weight: medium;
}

}